*{
    margin: 0;
    padding: 0;
}

.contact{
    background-image: url("images/eNvYUMn5_400x400.jpg");
    height: 600px;
    width: 1291px;
}
.form{
    text-align: center;
    background-color: rgb(97, 80, 80);
}

@media (max-width: 600px) {
    .form{
        text-align: center;
    }
    .contact{
        text-align: center;
        height: 600px;
        width: 500px;

    }   
}